<div class="container-fluid">
    <div class="row" style="height: 100vh">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <a (click)="goToSignIn()" style="cursor: pointer">
                        <i class="material-icons">
                            arrow_back
                        </i>
                    </a>

                    <div class="app-logo mb-2">
                        <img class="text-center img" src="../../../assets/meeting.jpg">
                    </div>
                    <h5 class="card-title text-center">Forgot password</h5>
                    <p> Provide your registered email id to receive a reset link.</p>
                    <form class="form-signin" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                        <!---------- email field --------->
                        <div class="form-label-group">

                            <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" id="inputEmail"
                                class="form-control" placeholder="Email address"
                                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email autofocus>
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">Email is required</div>
                                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                            </div>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
                        <hr class="my-4">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>