:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
    font-size: 16px;
  }
  
  .container-fluid {
    background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    min-height: 100vh;
    min-width: 100vw;
  }
  .app-logo{
display: flex;
justify-content: center;
align-items: center;
  }
  
  .img{
    max-width: 100%;
    height: 12vh;
    
  }
  .card-signup {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signup .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signup .card-body {
    padding: 2rem;
  }
  
  .form-signup {
    width: 100%;
  }
  
  .form-signup .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    border-radius: 2rem;
  }
  
  /* .form-label-group>input,
  .form-label-group>label {
    
  }
  padding: var(--input-padding-y) var(--input-padding-x); */
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0.7rem;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    /* padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3)); */
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  
  .sideBar {
    max-height: 200px;
    width: 100%;
    /* padding: 0.3rem !important;
    margin: 0 !important; */
    background-color: #fff;
    overflow-y: scroll;
    border: 1px solid #f7f7f7;
    }  
  
  .sideBar-body {
    margin: 0 !important;
    /* padding-top: 1vh;
    height: 4rem; */
    border-bottom: 0.6px solid #dcdedf;
    cursor: pointer;
  }
  
  .sideBar-body:hover {
    background-color: #f2f2f2;
  }
  
  .sideBar-avatar {
    text-align: center;
    padding: 0 !important;
  }