*:root{
    font-size: 16px;
  }
  
  .sidebar {
     position: fixed;
    z-index: 100; 
    padding: 48px 0 0; 
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; 
  }
  
  .sidebar .nav-link {
    font-weight: 700;
    color: #333;  
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .profile{
    padding: 0.5rem 0;
    font-weight: 700;
    color: #333
  }
  
  [role="main"] {
    padding-top: 48px;
  }
  
  
  .navbar.navbar-dark{
    background-color: black;
  }

  a{
    cursor: pointer;
  }
  
  th > a {
    cursor:pointer;
    color: #ffffff;
  }
  th > a > span > i {
    vertical-align: bottom;
  } 
  
  .form-control{
    background-color: rgb(3, 3, 3);
    border-color: #fff;
  }
  
  .form-control:focus{
  background-color: #fff;
  }
  
  .btn-outline-success{
    color: #fff;
    border-color: #fff;
  }
  .btn-outline-success:hover{
    color: black;
    background-color: #fff!important;
    }